 import cv2                                                              

      2 import mediapipe as mp                                                  

      3 import numpy as np                                                      

      4 import pyautogui  
